@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 1310px) {
  .title {
    font-size: calc(20px + (20) * ((100vw - 320px) / (990)));
  }
}

.header {
  height: 70px;
  background-color: #fff;
  width: 100%;
  z-index: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
}

.header.active {
  border-bottom: 1px solid #6e6e6e;
}

@media (max-width: 500px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
  }
}

.header__logo {
  height: 100%;
  border-right: 1px solid #9D9D9D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 45px 10px 0px;
}

@media (max-width: 995px) {
  .header__logo {
    padding-right: 15px;
  }
}

@media (max-width: 520px) {
  .header__logo {
    border-right: none;
  }
}

.header__logo .logo {
  color: #434343;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 520px) {
  .header__logo .logo {
    font-size: 18px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 915px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 915px) {
  .header__contacts {
    text-align: center;
  }
}

.header__phone-wrp a {
  font-size: 18px;
  font-weight: 600;
  color: #434343;
}

.header__mail {
  display: inline-block;
  margin-left: 3px;
  margin-top: 2px;
}

.burger {
  position: absolute;
  top: 32px;
  right: 15px;
  z-index: 4;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

@media (max-width: 915px) {
  .burger {
    display: block;
  }
}

@media (max-width: 510px) {
  .burger {
    top: 20px;
  }
}

.burger span {
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  pointer-events: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.burger span:nth-child(1).active {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
}

.burger span:nth-child(2) {
  top: 7px;
}

.burger span:nth-child(2).active {
  opacity: 0;
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.burger span:nth-child(3) {
  top: 14px;
}

.burger span:nth-child(3).active {
  top: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu {
  margin: 0 auto;
  display: block;
  padding: 15px;
  position: relative;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

@media (max-width: 915px) {
  .menu {
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    width: 400px;
    padding: 50px 15px 20px 15px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 100vh;
    background-color: #fff;
  }
  .menu.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .menu:first-child.active {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
}

@media (max-width: 915px) and (max-width: 400px) {
  .menu {
    width: 100%;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 995px) {
  .menu__list {
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (max-width: 915px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 100%;
    padding: 20px 0;
    row-gap: 20px;
    background-color: #fff;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.menu__item {
  position: relative;
}

.menu__item::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #363636;
  display: inline-block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  left: 0;
  top: 18px;
}

@media (any-hover: hover) {
  .menu__item:hover::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 915px) {
  .menu__item {
    text-align: center;
  }
}

.menu__item a {
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #434343;
  text-transform: uppercase;
}

@media (any-hover: hover) {
  .menu__item a:hover {
    color: #000;
  }
}

/*MAIN SECTION=======================================*/
.main {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/main_bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 33vh;
  position: relative;
}

.main__container {
  position: relative;
  z-index: 1;
}

.main__title {
  font-size: 50px;
  font-weight: 600;
  color: #363636;
  line-height: 1.2;
}

@media (max-width: 1310px) {
  .main__title {
    font-size: calc(24px + (26) * ((100vw - 320px) / (990)));
  }
}

.main__title p {
  font-size: 45px;
}

@media (max-width: 1310px) {
  .main__title p {
    font-size: calc(22px + (23) * ((100vw - 320px) / (990)));
  }
}

.main__title span {
  color: #115D09;
}

@media (max-width: 440px) {
  .main__title {
    background-color: rgba(255, 255, 255, 0.782);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
  }
}

.main__btn {
  width: 320px;
  height: 70px;
  border-radius: 10px;
  color: #434343;
  background-color: #FFDD73;
  font-size: 18px;
  font-weight: 700;
  margin-top: 40px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

@media (any-hover: hover) {
  .main__btn:hover {
    background-color: #f3d169;
  }
}

@media (max-width: 567px) {
  .main__btn {
    width: 250px;
    height: 55px;
    margin-top: 20px;
  }
}

.main__img-branch {
  position: absolute;
  top: 0;
}

@media (max-width: 1310px) {
  .main__img-branch {
    width: calc(130px + (53) * ((100vw - 320px) / (990)));
  }
}

.main__img-boards {
  position: absolute;
  right: 0;
  bottom: 30vh;
}

@media (max-width: 1310px) {
  .main__img-boards {
    width: calc(200px + (370) * ((100vw - 320px) / (990)));
  }
}

@media (max-width: 540px) {
  .main__img-boards {
    bottom: 40vh;
  }
}

/*WEDO SECTION================================*/
.wedo {
  padding-top: 100px;
  padding-bottom: 50px;
}

@media (max-width: 1310px) {
  .wedo {
    padding-top: calc(50px + (50) * ((100vw - 320px) / (990)));
  }
}

.wedo__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 990px) {
  .wedo__cont-wrp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 525px) {
  .wedo__cont-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wedo__cont-item {
  position: relative;
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.wedo__cont-item:not(:last-child) {
  border-right: 1px solid #A7A7A7;
}

@media (max-width: 990px) {
  .wedo__cont-item:not(:last-child) {
    border-right: none;
  }
}

.wedo__cont-item img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1310px) {
  .wedo__cont-item img {
    width: calc(60px + (40) * ((100vw - 320px) / (990)));
  }
}

@media (max-width: 990px) {
  .wedo__cont-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    -webkit-box-shadow: -1px 3px 13px -5px rgba(131, 131, 131, 0.5);
            box-shadow: -1px 3px 13px -5px rgba(131, 131, 131, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.wedo__item-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  color: #363636;
  line-height: 1.2;
}

@media (max-width: 1310px) {
  .wedo__item-title {
    margin-top: calc(5px + (15) * ((100vw - 320px) / (990)));
  }
}

@media (max-width: 1050px) {
  .wedo__item-title {
    font-size: 16px;
  }
}

.wedo__item-text {
  margin-top: 15px;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 500;
  color: #363636;
}

@media (max-width: 1310px) {
  .wedo__item-text {
    margin-top: calc(5px + (10) * ((100vw - 320px) / (990)));
  }
}

@media (max-width: 1050px) {
  .wedo__item-text {
    font-size: 16px;
  }
  .wedo__item-text br {
    display: none;
  }
}

/*BANNER SECTION =================================================*/
.banner {
  min-height: 180px;
  width: 100%;
  padding: 40px 0;
  background-image: url(../img/banner_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.banner__title {
  color: #fff;
  position: relative;
  z-index: 1;
}

.banner__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.banner__text {
  font-size: 18px;
  font-weight: 600;
  max-width: 516px;
  color: #fff;
  margin-top: 15px;
  line-height: 1.3;
  position: relative;
  z-index: 1;
}

@media (max-width: 1310px) {
  .banner__text {
    font-size: calc(16px + (2) * ((100vw - 320px) / (990)));
  }
}

.banner__img {
  position: absolute;
  right: 0;
  top: -76px;
}

@media (max-width: 1310px) {
  .banner__img {
    width: calc(100px + (160) * ((100vw - 320px) / (990)));
  }
}

@media (max-width: 1310px) {
  .banner__img {
    top: calc(-30px + (-46) * ((100vw - 320px) / (990)));
  }
}

@media (max-width: 725px) {
  .banner__img {
    display: none;
  }
}

/*SECTION SAMPLES =============================*/
.samples {
  padding-top: 100px;
  padding-bottom: 50px;
}

@media (max-width: 1310px) {
  .samples {
    padding-top: calc(50px + (50) * ((100vw - 320px) / (990)));
  }
}

.samples__title {
  color: #115D09;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 1310px) {
  .samples__title {
    margin-bottom: calc(20px + (20) * ((100vw - 320px) / (990)));
  }
}

.samples__cards-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1080px) {
  .samples__cards-wrp {
    gap: 20px;
  }
}

@media (max-width: 945px) {
  .samples__cards-wrp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.samples__card-item {
  width: 250px;
  min-height: 330px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(149, 149, 149, 0.28);
          box-shadow: 0px 0px 9px 2px rgba(149, 149, 149, 0.28);
  background-color: #fff;
  overflow: hidden;
}

@media (max-width: 1080px) {
  .samples__card-item {
    width: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

@media (max-width: 945px) {
  .samples__card-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 575px) {
  .samples__card-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}

@media (max-width: 529px) {
  .samples__card-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }
}

.samples__card-item img {
  width: 100%;
  height: auto;
}

.samples__card-item h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  padding: 0 10px;
}

.samples__card-item a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #C8B086;
  margin-top: 22px;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 30px;
}

/*SECTION DELIVERY=============================*/
.delivery {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1310px) {
  .delivery {
    padding-top: calc(10px + (40) * ((100vw - 320px) / (990)));
  }
}

.delivery__title {
  text-transform: uppercase;
  text-align: center;
  color: #115D09;
  margin-bottom: 30px;
}

.delivery__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 905px) {
  .delivery__cont-wrp {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 750px) {
  .delivery__cont-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 20px;
  }
}

@media (max-width: 1310px) {
  .delivery__cont-wrp img {
    width: calc(250px + (194) * ((100vw - 320px) / (990)));
  }
}

.delivery__text {
  color: #363636;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 460px;
}

@media (max-width: 1310px) {
  .delivery__text {
    font-size: calc(16px + (2) * ((100vw - 320px) / (990)));
  }
}

.delivery__text p:not(:last-child) {
  margin-bottom: 20px;
}

.delivery__text span {
  font-weight: 700;
}

/*SECTION CONTACTS =================================*/
.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1310px) {
  .contacts {
    padding-top: calc(20px + (30) * ((100vw - 320px) / (990)));
  }
}

.contacts__title {
  text-transform: uppercase;
  text-align: center;
  color: #115D09;
  margin-bottom: 30px;
}

.contacts__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 20px;
  margin-bottom: 50px;
  width: 100%;
  min-height: 136px;
  border-radius: 10px;
  background: linear-gradient(122.55deg, #4B8340 14.3%, #80AB71 71.74%, #99CB79 100%);
  -webkit-box-shadow: inset 7px 7px 7px 4px rgba(0, 0, 0, 0.13);
          box-shadow: inset 7px 7px 7px 4px rgba(0, 0, 0, 0.13);
}

@media (max-width: 970px) {
  .contacts__cont-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 490px) {
  .contacts__cont-wrp {
    padding: 25px 10px;
  }
}

.contacts__text-left p {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 1.3;
}

@media (max-width: 1310px) {
  .contacts__text-left p {
    font-size: calc(16px + (8) * ((100vw - 320px) / (990)));
  }
}

.contacts__text-left span {
  display: block;
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  line-height: 1.3;
}

@media (max-width: 1310px) {
  .contacts__text-left span {
    font-size: calc(16px + (8) * ((100vw - 320px) / (990)));
  }
}

.contacts__text-right a {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

@media (max-width: 1310px) {
  .contacts__text-right a {
    font-size: calc(16px + (8) * ((100vw - 320px) / (990)));
  }
}

.contacts__tel {
  margin-bottom: 15px;
}

@media (max-width: 490px) {
  .contacts__tel {
    margin-bottom: 5px;
  }
}

.contacts__email span {
  font-weight: 600;
}

.map {
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 465px) {
  .map {
    height: 300px;
  }
}

/*FOOTER =================================================*/
.footer {
  width: 100%;
  min-height: 200px;
  background-color: #343434;
  padding: 40px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 1310px) {
  .footer__logo {
    font-size: calc(20px + (4) * ((100vw - 320px) / (990)));
  }
}

.footer__tel, .footer__email {
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 1310px) {
  .footer__tel, .footer__email {
    font-size: calc(18px + (4) * ((100vw - 320px) / (990)));
  }
}

.footer__tel:not(:last-child), .footer__email:not(:last-child) {
  margin-bottom: 20px;
}

.footer__tel a, .footer__email a {
  color: #fff;
}

.footer__email a {
  margin-left: 5px;
}

.footer__email img {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

/* ПОПАП С ФОРМОЙ =============================*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 12, 0.758);
  padding-top: 120px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.form {
  width: 500px;
  min-height: 350px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  padding: 44px 10px 20px 10px;
  border-radius: 3px;
}

@media (max-width: 523px) {
  .form {
    width: 96%;
  }
}

.form label {
  display: block;
}

.form input:not(:last-child) {
  margin: 0;
  margin-bottom: 40px;
}

.form input:active, .form input:focus {
  outline: none;
}

.cross {
  position: absolute;
  right: 9px;
  top: 8px;
  cursor: pointer;
  font-size: 20px;
  color: #434343;
}

.input__name, .input__tel, .form__btn {
  max-width: 100%;
  width: 100%;
  border: 1px solid #8f8f8f;
  display: block;
  height: 60px;
  border-radius: 3px;
  padding: 10px;
}

.form__btn {
  border: none;
  background-color: #FFDD73;
  color: #363636;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
  padding: 0;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
}

.form__btn:hover {
  background-color: #fccb35;
}

/*SECTION REQUEST=============================*/
.request {
  background-image: url(../img/laminat.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 716px;
  padding: 50px 0;
}

@media (max-width: 1310px) {
  .request {
    min-height: calc(510px + (206) * ((100vw - 320px) / (990)));
  }
}

.request__title {
  text-align: center;
  margin-bottom: 50px;
  color: #363636;
}

@media (max-width: 1310px) {
  .request__title {
    margin-bottom: calc(20px + (30) * ((100vw - 320px) / (990)));
  }
}

/*общие классы для формы*/
.form2 {
  padding: 0px 15px;
}

.form2__input-name, .form2__input-email, .form2__input-tel {
  height: 60px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 5px 10px;
}

@media (max-width: 1310px) {
  .form2__input-name, .form2__input-email, .form2__input-tel {
    height: calc(45px + (15) * ((100vw - 320px) / (990)));
  }
}

@media (max-width: 1310px) {
  .form2__input-name, .form2__input-email, .form2__input-tel {
    margin-bottom: calc(20px + (30) * ((100vw - 320px) / (990)));
  }
}

.form2__message {
  width: 100%;
  height: 140px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 10px;
  resize: none;
}

@media (max-width: 1310px) {
  .form2__message {
    height: calc(100px + (40) * ((100vw - 320px) / (990)));
  }
}

.form2__btn {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1310px) {
  .form2__btn {
    font-size: calc(16px + (4) * ((100vw - 320px) / (990)));
  }
}

/* классы для конкретной формы*/
._form2 {
  width: 650px;
  margin: 0 auto;
}

@media (max-width: 680px) {
  ._form2 {
    padding: 0;
    width: 100%;
  }
}

._btn {
  margin-top: 40px;
  background-color: #FFDD73;
  -webkit-transition: background .3s;
  transition: background .3s;
  color: #363636;
}

@media (max-width: 1310px) {
  ._btn {
    margin-top: calc(25px + (15) * ((100vw - 320px) / (990)));
  }
}

._btn:hover {
  background-color: #fccb35;
}
/*# sourceMappingURL=style.css.map */