@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

//Адаптив, начинающийся с определенной ширины (с ширины ограничивающего контейнера, как правило)
@mixin adaptiveAllCont($adaptProperty, $maxSize, $minSize, $maxContainer, $minMob) {
    @media (max-width: #{$maxContainer + px}) {
        #{$adaptProperty}: calc(#{$minSize + px} + (#{$maxSize - $minSize}) * ((100vw - #{$minMob + px}) / (#{$maxContainer - $minMob})))
    }
}

$colorBlack: #434343;
$colorBlack2: #363636;
$colorGreen: #115D09;
$colorEyllow: #FFDD73;

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*//*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main {
    flex: 1 1 auto;
}
.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    font-size: 40px;
    font-weight: bold;
    @include adaptiveAllCont('font-size', 40, 20, 1310, 320);
}


.header {
    height: 70px;
    background-color: #fff;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    &.active {
      border-bottom: 1px solid rgb(110, 110, 110);
    }
  }

  @media (max-width: 500px) {
    .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 60px;
    }
  }
  .header__logo {
    height: 100%;
    border-right: 1px solid #9D9D9D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 45px 10px 0px;

    @media (max-width: 995px) {
        padding-right: 15px;
    }
    @media (max-width: 520px) {
        border-right: none;
    }
  }
  .header__logo .logo {
    color: $colorBlack;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 520px) {
        font-size: 18px;
    }
  }

  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }

  @media (max-width: 915px) {
    .header-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

.header__contacts {
    @media (max-width: 915px) {
        text-align: center;
    }
}

.header__phone-wrp {
    a {
        font-size: 18px;
        font-weight: 600;
        color: $colorBlack;
    }
}
.header__phone {

}
.header__mail {
    display: inline-block;
    margin-left: 3px;
    margin-top: 2px;
}

  .burger {
    position: absolute;
    top: 32px;
    right: 15px;
    z-index: 4;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
  }

  @media (max-width: 915px) {
    .burger {
      display: block;
    }
  }

  @media (max-width: 510px) {
    .burger {
      top: 20px;
    }
  }

  .burger span {
    width: 30px;
    height: 2px;
    background-color: #000;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .burger span:nth-child(1).active {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 7px;
  }

  .burger span:nth-child(2) {
    top: 7px;
  }

  .burger span:nth-child(2).active {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }

  .burger span:nth-child(3) {
    top: 14px;
  }

  .burger span:nth-child(3).active {
    top: 7px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu {
    margin: 0 auto;
    display: block;
    padding: 15px;
    position: relative;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }

  @media (max-width: 915px) {
    .menu {
      overflow: auto;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 3;
      width: 400px;
      padding: 50px 15px 20px 15px;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      height: 100vh;
      background-color: #fff;
    }
    .menu.active {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    .menu:first-child.active {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
    }
  }

  @media (max-width: 915px) and (max-width: 400px) {
    .menu {
      width: 100%;
    }
  }

  .menu__list {
    display: flex;
    transition: all .3s;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    @media (max-width: 995px) {
        column-gap: 15px;
    }
  }

  @media (max-width: 915px) {
    .menu__list {
      flex-direction: column;
      justify-content: flex-start;
      min-height: 100%;
      padding: 20px 0;
      row-gap: 20px;
      background-color: #fff;
      transform: translateY(-20px);
    }
  }

  .menu__item {
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $colorBlack2;
        display: inline-block;
        transform: scale(0);
        transition: all .3s;
        position: absolute;
        left: 0;
        top: 18px;
    }
    @media (any-hover: hover) {
        &:hover {
            &::after {
                transform: scale(1);
            }
        }
    }

    @media (max-width: 915px) {
        text-align: center;
    }
  }
  .menu__item a {
    font-size: 16px;
    font-weight: 600;
    transition: color .3s;
    color: $colorBlack;
    text-transform: uppercase;
  }

  @media (any-hover: hover) {
    .menu__item a:hover {
      color: #000
    }
  }

/*MAIN SECTION=======================================*/
.main {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/main_bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 33vh;
    position: relative;

    &__container {
        position: relative;
        z-index: 1;
    }

    &__title {
        font-size: 50px;
        font-weight: 600;
        color: $colorBlack2;
        line-height: 1.2;
        @include adaptiveAllCont('font-size', 50, 24, 1310, 320);

        p {
            font-size: 45px;
            @include adaptiveAllCont('font-size', 45, 22, 1310, 320);
        }
        span {
            color: $colorGreen;
        }
        @media (max-width: 440px) {
            background-color: rgba(255, 255, 255, 0.782);
            display: inline-block;
            padding: 10px;
            border-radius: 5px;
        }
    }
    &__btn {
        width: 320px;
        height: 70px;
        border-radius: 10px;
        color: $colorBlack;
        background-color: $colorEyllow;
        font-size: 18px;
        font-weight: 700;
        margin-top: 40px;
        transition: background .3s;

        @media (any-hover: hover) {
            &:hover {
                background-color: #f3d169;
            }
        }
        @media (max-width: 567px) {
            width: 250px;
            height: 55px;
            margin-top: 20px;
        }
    }

    &__img-branch {
        position: absolute;
        top: 0;
        @include adaptiveAllCont('width', 183, 130, 1310, 320);
    }
    &__img-boards {
        position: absolute;
        right: 0;
        bottom: 30vh;
        @include adaptiveAllCont('width', 570, 200, 1310, 320);
        @media (max-width: 540px) {
            bottom: 40vh;
        }
    }
}

/*WEDO SECTION================================*/
.wedo {
    padding-top: 100px;
    padding-bottom: 50px;
    @include adaptiveAllCont('padding-top', 100, 50, 1310, 320);

    &__cont-wrp {
        display: flex;
        justify-content: center;
        @media (max-width: 990px) {
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 20px;
        }
        @media (max-width: 525px) {
            flex-direction: column;
        }
    }
    &__cont-item {
        position: relative;
        padding: 0 10px;
        flex: 0 1 25%;
        &:not(:last-child) {
            border-right: 1px solid #A7A7A7;
            @media (max-width: 990px) {
                border-right: none;
            }
        }
        img {
            display: block;
            margin: 0 auto;
            @include adaptiveAllCont('width', 100, 60, 1310, 320);
        }
        @media (max-width: 990px) {
            flex: 0 1 45%;
            box-shadow: -1px 3px 13px -5px rgba(131, 131, 131, 0.5);
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    &__item-title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
        @include adaptiveAllCont('margin-top', 20, 5, 1310, 320);
        color: $colorBlack2;
        line-height: 1.2;
        @media (max-width: 1050px) {
            font-size: 16px;
        }
    }
    &__item-text {
        margin-top: 15px;
        @include adaptiveAllCont('margin-top', 15, 5, 1310, 320);
        text-align: center;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 500;
        color: $colorBlack2;
        @media (max-width: 1050px) {
            font-size: 16px;
            br {
                display: none;
            }
        }
    }
}

/*BANNER SECTION =================================================*/
.banner {
  min-height: 180px;
  width: 100%;
  padding: 40px 0;
  background-image: url(../img/banner_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;

  &__title {
    color: #fff;
    position: relative;
    z-index: 1;
  }
  &__cont-wrp {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__text {
    font-size: 18px;
    font-weight: 600;
    max-width: 516px;
    color: #fff;
    margin-top: 15px;
    line-height: 1.3;
    position: relative;
    z-index: 1;
    @include adaptiveAllCont('font-size', 18, 16, 1310, 320);
  }
  &__img {
    position: absolute;
    right: 0;
    top: -76px;
    @include adaptiveAllCont('width', 260, 100, 1310, 320);
    @include adaptiveAllCont('top', -76, -30, 1310, 320);
    @media (max-width: 725px) {
      display: none;
    }
  }
}

/*SECTION SAMPLES =============================*/
.samples {
  padding-top: 100px;
  @include adaptiveAllCont('padding-top', 100, 50, 1310, 320);
  padding-bottom: 50px;
}

.samples__title {
  color: $colorGreen;
  text-align: center;
  margin-bottom: 40px;
  @include adaptiveAllCont('margin-bottom', 40, 20, 1310, 320);
}
.samples__cards-wrp {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1080px) {
    gap: 20px;
  }
  @media (max-width: 945px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.samples__card-item {
  width: 250px;
  min-height: 330px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 2px rgba(149, 149, 149, 0.28);
  background-color: #fff;
  overflow: hidden;
  @media (max-width: 1080px) {
    width: auto;
    flex: 0 1 25%;
  }
  @media (max-width: 945px) {
    flex: 0 1 40%;
  }
  @media (max-width: 575px) {
    flex: 0 1 48%;
  }
  @media (max-width: 529px) {
    flex: 0 0 250px;
  }

  img {
    width: 100%;
    height: auto;
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    padding: 0 10px;
  }
  a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #C8B086;
    margin-top: 22px;
    text-align: center;
    padding: 0 10px;
    padding-bottom: 30px;
  }
}

/*SECTION DELIVERY=============================*/
.delivery {
  padding-top: 50px;
  padding-bottom: 50px;
  @include adaptiveAllCont('padding-top', 50, 10, 1310, 320);

  &__title {
    text-transform: uppercase;
    text-align: center;
    color: $colorGreen;
    margin-bottom: 30px;
  }
  &__cont-wrp {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
    @media (max-width: 905px) {
      column-gap: 20px;
    }
    @media (max-width: 750px) {
      flex-direction: column-reverse;
      row-gap: 20px;
    }
    img {
      @include adaptiveAllCont('width', 444, 250, 1310, 320);
    }
  }
  &__text {
    color: $colorBlack2;
    font-size: 18px;
    @include adaptiveAllCont('font-size', 18, 16, 1310, 320);
    font-weight: 500;
    line-height: 1.3;
    max-width: 460px;

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    span {
      font-weight: 700;
    }
  }
}

/*SECTION CONTACTS =================================*/
.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
  @include adaptiveAllCont('padding-top', 50, 20, 1310, 320);

  &__title {
    text-transform: uppercase;
    text-align: center;
    color: $colorGreen;
    margin-bottom: 30px;
  }
  &__cont-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 136px;
    border-radius: 10px;
    background: linear-gradient(122.55deg, #4B8340 14.3%, #80AB71 71.74%, #99CB79 100%);
    box-shadow: inset 7px 7px 7px 4px rgba(0, 0, 0, 0.13);

    @media (max-width: 970px) {
      flex-direction: column;
      row-gap: 20px;
      justify-content: flex-start;
      align-items: flex-start;
    }
    @media (max-width: 490px) {
      padding: 25px 10px;
    }
  }
  &__text-left {
    p {
      font-size: 24px;
      color: #fff;
      @include adaptiveAllCont('font-size', 24, 16, 1310, 320);
      font-weight: 700;
      line-height: 1.3;
    }
    span {
      display: block;
      margin-top: 15px;
      font-weight: 500;
      font-size: 24px;
      @include adaptiveAllCont('font-size', 24, 16, 1310, 320);
      color: #fff;
      line-height: 1.3;
    }
  }
  &__text-right {
    a {
      display: block;
      color: #fff;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.3;
      @include adaptiveAllCont('font-size', 24, 16, 1310, 320);
    }
  }
  &__tel {
    margin-bottom: 15px;
    @media (max-width: 490px) {
      margin-bottom: 5px;
    }
  }
  &__email {
    span {
      font-weight: 600;
    }
  }
}
.map {
  border-radius: 5px;
  overflow: hidden;
  @media (max-width: 465px) {
    height: 300px;
  }
}

/*FOOTER =================================================*/
.footer {
  width: 100%;
  min-height: 200px;
  background-color: rgb(52, 52, 52);
  padding: 40px 0;

  &__container {
    display: flex;
    justify-content: center;
  }
  &__content {

  }
  &__logo {
    font-size: 24px;
    @include adaptiveAllCont('font-size', 24, 20, 1310, 320);
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
  &__tel, &__email {
    font-size: 22px;
    @include adaptiveAllCont('font-size', 22, 18, 1310, 320);
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    a {
      color: #fff;
    }
  }
  &__email {
    a {
      margin-left: 5px;
    }
    img {
      transform: translateY(-2px);
    }
  }

}

/* ПОПАП С ФОРМОЙ =============================*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 12, 0.758);
  padding-top: 120px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.form {
  width: 500px;
  min-height: 350px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  padding: 44px 10px 20px 10px;
  border-radius: 3px;
}

@media (max-width: 523px) {
  .form {
    width: 96%;
  }
}

.form label {
  display: block;
}

.form input:not(:last-child) {
  margin: 0;
  margin-bottom: 40px;
}

.form input:active, .form input:focus {
  outline: none;
}

.cross {
  position: absolute;
  right: 9px;
  top: 8px;
  cursor: pointer;
  font-size: 20px;
  color: $colorBlack;
}

.input__name, .input__tel, .form__btn {
  max-width: 100%;
  width: 100%;
  border: 1px solid #8f8f8f;
  display: block;
  height: 60px;
  border-radius: 3px;
  padding: 10px;
}

.form__btn {
  border: none;
  background-color: $colorEyllow;
  color: $colorBlack2;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
  padding: 0;
  margin-top: 40px;
  font-size: 18px;
  text-transform: uppercase;
}

.form__btn:hover {
  background-color: #fccb35;
}

/*SECTION REQUEST=============================*/
.request {
  background-image: url(../img/laminat.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 716px;
  padding: 50px 0;
  @include adaptiveAllCont('min-height', 716, 510, 1310, 320);
}

.request__title {
  text-align: center;
  margin-bottom: 50px;
  @include adaptiveAllCont('margin-bottom', 50, 20, 1310, 320);
  color: $colorBlack2;
}

/*общие классы для формы*/
.form2 {
  padding: 0px 15px;
  &__input-name, &__input-email, &__input-tel {
    height: 60px;
    @include adaptiveAllCont('height', 60, 45, 1310, 320);
    background-color: #fff;
    width: 100%;
    margin-bottom: 30px;
    @include adaptiveAllCont('margin-bottom', 50, 20, 1310, 320);
    border-radius: 10px;
    padding: 5px 10px;
  }

  &__input-email {
  }
  &__input-tel {
  }
  &__message {
    width: 100%;
    height: 140px;
    @include adaptiveAllCont('height', 140, 100, 1310, 320);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    resize: none;
  }

  &__btn {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    @include adaptiveAllCont('font-size', 20, 16, 1310, 320);
  }

}

/* классы для конкретной формы*/
._form2 {
  width: 650px;
  margin: 0 auto;
  @media (max-width: 680px) {
    padding: 0;
    width: 100%;
  }
}
._input-name {
}

._input-email {
}

._input-tel {
}
._input-message {
}
._btn {
  margin-top: 40px;
  @include adaptiveAllCont('margin-top', 40, 25, 1310, 320);
  background-color: $colorEyllow;
  transition: background .3s;
  color: $colorBlack2;
  &:hover {
    background-color: #fccb35;
  }
}

