@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

//Адаптив, начинающийся с определенной ширины (с ширины ограничивающего контейнера, как правило)
@mixin adaptiveAllCont($adaptProperty, $maxSize, $minSize, $maxContainer, $minMob) {
    @media (max-width: #{$maxContainer + px}) {
        #{$adaptProperty}: calc(#{$minSize + px} + (#{$maxSize - $minSize}) * ((100vw - #{$minMob + px}) / (#{$maxContainer - $minMob})))
    }
}

$colorBlack: #434343;
$colorBlack2: #363636;
$colorGreen: #115D09;
$colorEyllow: #FFDD73;

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*//*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main {
    flex: 1 1 auto;
}
.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 70px;
    background-color: #fff;
    width: 100%;
    z-index: 3;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
  }

  @media (max-width: 500px) {
    .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 60px;
    }
  }
  .header__logo {
    height: 100%;
    border-right: 1px solid #9D9D9D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 45px 10px 0px;

    @media (max-width: 995px) {
        padding-right: 15px;
    }
    @media (max-width: 520px) {
        border-right: none;
    }
  }
  .header__logo .logo {
    color: $colorBlack;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 520px) {
        font-size: 18px;
    }
  }

  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }

  @media (max-width: 915px) {
    .header-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

.header__contacts {
    @media (max-width: 915px) {
        margin-right: 50px;
    }
}

.header__phone-wrp {
    a {
        font-size: 18px;
        font-weight: 600;
        color: $colorBlack;
    }
}
.header__phone {

}
.header__mail {
    display: inline-block;
    margin-left: 3px;
    margin-top: 2px;
}

  .burger {
    position: absolute;
    top: 32px;
    right: 15px;
    z-index: 4;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
  }

  @media (max-width: 915px) {
    .burger {
      display: block;
    }
  }

  @media (max-width: 510px) {
    .burger {
      top: 20px;
    }
  }

  .burger span {
    width: 30px;
    height: 2px;
    background-color: #000;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .burger span:nth-child(1).active {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 7px;
  }

  .burger span:nth-child(2) {
    top: 7px;
  }

  .burger span:nth-child(2).active {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }

  .burger span:nth-child(3) {
    top: 14px;
  }

  .burger span:nth-child(3).active {
    top: 7px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu {
    margin: 0 auto;
    display: block;
    padding: 15px;
    position: relative;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }

  @media (max-width: 915px) {
    .menu {
      overflow: auto;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 3;
      width: 400px;
      padding: 20px 15px 20px 15px;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      height: 100vh;
    }
    .menu.active {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    .menu:first-child.active {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
    }
  }

  @media (max-width: 915px) and (max-width: 400px) {
    .menu {
      width: 100%;
    }
  }

  .menu__list {
    display: flex;
    transition: all .3s;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    @media (max-width: 995px) {
        column-gap: 15px;
    }
  }

  @media (max-width: 915px) {
    .menu__list {
      flex-direction: column;
      justify-content: flex-start;
      min-height: 100%;
      padding: 20px 0;
      row-gap: 20px;
      background-color: #fff;
      transform: translateY(-20px);
    }
  }

  .menu__item {
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $colorBlack2;
        display: inline-block;
        transform: scale(0);
        transition: all .3s;
        position: absolute;
        left: 0;
        top: 18px;
    }
    @media (any-hover: hover) {
        &:hover {
            &::after {
                transform: scale(1);
            }
        }
    }
  }
  .menu__item a {
    font-size: 16px;
    font-weight: 600;
    transition: color .3s;
    color: $colorBlack;
    text-transform: uppercase;
  }

  @media (any-hover: hover) {
    .menu__item a:hover {
      color: #000
    }
  }

/*MAIN SECTION=======================================*/
.main {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/main_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 33vh;
    position: relative;

    &__container {
        position: relative;
        z-index: 1;
    }

    &__title {
        font-size: 50px;
        font-weight: 600;
        color: $colorBlack2;
        line-height: 1.2;
        @include adaptiveAllCont('font-size', 50, 24, 1310, 320);

        p {
            font-size: 45px;
            @include adaptiveAllCont('font-size', 45, 22, 1310, 320);
        }
        span {
            color: $colorGreen;
        }
        @media (max-width: 440px) {
            background-color: rgba(255, 255, 255, 0.782);
            display: inline-block;
            padding: 10px;
            border-radius: 5px;
        }
    }
    &__btn {
        width: 320px;
        height: 70px;
        border-radius: 10px;
        color: $colorBlack;
        background-color: $colorEyllow;
        font-size: 18px;
        font-weight: 700;
        margin-top: 40px;
        transition: background .3s;

        @media (any-hover: hover) {
            &:hover {
                background-color: #f3d169;
            }
        }
        @media (max-width: 567px) {
            width: 250px;
            height: 55px;
            margin-top: 20px;
        }
    }

    &__img-branch {
        position: absolute;
        top: 0;
        @include adaptiveAllCont('width', 183, 130, 1310, 320);
    }
    &__img-boards {
        position: absolute;
        right: 0;
        bottom: 30vh;
        @include adaptiveAllCont('width', 570, 200, 1310, 320);
        @media (max-width: 540px) {
            bottom: 40vh;
        }
    }
}